/.git
/.gitignore
/.claude
/.github

/node_modules
/frontend/node_modules
/frontend/dist
/backend/api/.panel
/backend/api/__pycache__
/backend/api/*.log

**/__pycache__
**/*.pyc
**/*.pyo

/.env
/.env.*
/frontend/.env
/backend/api/.env

Thumbs.db
.DS_Store
